        input {
            width:30px;
            }
        .calc_outer {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            }

        .calc_inner {
            background-color: #222;
            }